@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import "tailwindcss";

:root {
  --accent: #0000ee;
  --text: #ffffff;
  --light-text: #eeeeee;
  --border: #000055;
  --border-width: 1.75px;
  --section-bg: #000021;
  --red: #d50000;
  --green: #00bfa5;
  --bg: #000000;
}

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: "Roboto", sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
